@model IEnumerable<Friseur.Models.Client_User>
<head>
	@{
		ViewBag.Title = "Staffs";
	}
	<style>
		* {
			box-sizing: border-box;
		}

		/* Create two equal columns that floats next to each other */
		.column {
			float: left;
			width: 33.33%;
			padding: 10px;
			height: 120px; /* Should be removed. Only for demonstration */
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}
	</style>
	<link href="~/Main/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/datatables.min.css" rel="stylesheet" />
</head>
<br />

<div class="row">
	<div class="column">
		@{
			Html.RenderAction("AddNewClientAdminUser", "Client_User");
		}
	</div>
	<div class="column">

	</div>
</div>
<br />
<br />


<table id="clientUserTable" class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Client.Name)
			</th>


			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Client_UserId }) |
					@Html.ActionLink("Details", "Details", new { id = item.Client_UserId }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Client_UserId })
				</td>
			</tr>
		}

	</tbody>
</table>

@section Scripts {
	<script src="~/Scripts/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#clientUserTable').DataTable(
				{
					"ordering": false,
				}
			);
		});
	</script>
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>

}
