@model IEnumerable<Friseur.Models.UserType>

<head>

	@{
		ViewBag.Title = "UserTypesTable";
	}
	<link href="~/Main/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>

<br />

<div class="row">
	<div class="col-md-12">
		@{
			Html.RenderAction("AddNewUserType", "UserTypes");
		}
	</div>
</div>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.name)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.name)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.UserTypeId }) |
				@Html.ActionLink("Details", "Details", new { id = item.UserTypeId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.UserTypeId })
			</td>
		</tr>
	}

</table>




@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}