@model Friseur.Models.Client_User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gender.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserType.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLogOnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogOnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogOnCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogOnCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Client_UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
