@model IEnumerable<Friseur.Models.Client_User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gender.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLogOnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogOnCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLogOnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogOnCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Client_UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.Client_UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Client_UserId })
        </td>
    </tr>
}

</table>
